<a href="https://colab.research.google.com/github/MatthewLieberman0/BTE320-InClassAssignmentss/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h = 10
r = 3
pi = 3.14
SurfaceArea = (2 * pi * r ** 2) + (2 * pi * r * h)

print(SurfaceArea)

244.92000000000002

In [ ]:
import random
choice = input('Do you want to play a game?')
while choice == 'yes':
  p1 = input('Choose rock, paper, or scissors')
  p2 = random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}.')
  if p1 == p2:
    print('Draw')
  elif p1 == 'rock' and p2 == 'scissors':
   print('p1 wins')
  elif p1 == 'paper' and p2 == 'rock':
    print('p1 wins')
  elif p1 == 'scissors' and p2 == 'paper':
    print('p1 wins')
  else:
    print('p2 wins')
  choice = input('Do you want to play a game?')

Do you want to play a game?yes
Choose rock, paper, or scissorsrock
Computer chose paper.
p2 wins
Do you want to play a game?yes
Choose rock, paper, or scissorsscissors
Computer chose paper.
p1 wins
Do you want to play a game?

In [ ]:
p1 = input('Choose Rock, Paper, or Scissors')
p2 = input('Choose Rock, Paper, or Scissors')

if p1 == p2:
  print('Draw')
elif ((p1 == 'Rock' and p2 == 'Scissors') or
( p1 == 'Paper' and p2 == 'Rock') or
  (p1 == 'Scissors' and p2 == 'Paper')):
  print('p1 wins')
else:
  print('p2 wins')

In [ ]:
n1 = float(input('Choose the first number'))
n2 = float(input('Choose the second number'))
symbol = input('Choose the symbol for calculation (+, -, *, /, **)')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1*n2)
elif symbol == '/':
  print(n1/n2)
elif symbol == '**':
  print(n1**n2)

In [ ]:
flatRate = 5
hourlyRate = 2.5

for hour in range(1, 9, 1):
  charge = flatRate + hourlyRate * hour
  if charge < 10:
    charge = 10.0
  elif charge > 20:
    charge = 20.0
  print(hour, ' ', charge)

1   10.0
2   10.0
3   12.5
4   15.0
5   17.5
6   20.0
7   20.0
8   20.0

In [ ]:
for ad in range(0, 201, 25):
  additional = 2*round(ad**.5)
  profit = ((20 + additional) * 10) - 200 - ad
  print(ad, ' ', profit)

0   0
25   75
50   90
75   105
100   100
125   95
150   90
175   85
200   80

In [ ]:
choice = input('Do you want to play a game?')
while choice == 'yes':
  p1 = input('Choose rock, paper, or scissors')
  p2 = random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}.')
  if p1 == p2:
    print('Draw')
  elif p1 == 'rock' and p2 == 'scissors':
   print('p1 wins')
  elif p1 == 'paper' and p2 == 'rock':
    print('p1 wins')
  elif p1 == 'scissors' and p2 == 'paper':
    print('p1 wins')
  else:
    print('p2 wins')
  choice = input('Do you want to play a game?')

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in numbers:
  months[i] = names[i-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
for value in months.values():
  print(value)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
def calcFree(hours):
   float(input('Enter hours parked: '))

hours = float(input('Enter hours parked: '))
c = (5 + hours*2.5)
print(c)

Enter hours parked: 4
15.0

In [ ]:
def calcFee(hours, decimals=2):
  fee = round(5 + hours*2.5, decimals)
  return fee
def displayFee(fee):
  print(fee)

h = int(input('Enter hours for parking: '))
f = calcFee(h)
displayFee(f)

Enter hours for parking: 4
15.0

In [4]:
def rev(s):
  if len(s)==1:
    return s
  else:
    return rev(s[1:]) + s[0]

rev('Hello')

'olleH'